
    .horizontal-nav{
        display: block;
        width: 100%;
        background-color: rgba(41, 117, 179);
        overflow: hidden;
        margin-top: 30px;
    }
    

    /* *******Vertical Navigation Bar ****** */

