/* #tweety, #insty , #fb, #slacky{
    color: grey;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.2em;
    display: inline-block;     
    padding: 0;
    text-align: center;
}

.twitter-icon, .twitter-icon a{
    margin: auto;
    padding-left: 10%;    
     
}*/
hr{
    /* line-height: 2em; */
    margin-top: 8em;
}
.social-media{
    position: absolute;
    /* right: 50%; */
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: red;
    color: white;
    
    text-align: center;
}
.footer{
    position: absolute;
    /* right: 50%; */
    bottom: 30px;
    left: 20px;
    right: 20px;
    background-color: red;
    color: white;
    
    text-align: center;
}
/* .twitter-icon p{
    opacity: 0.75;
    text-align: center;
    float: left;
    font-size: 15px;
    
    background: red;
    padding-left: 0;
} */
/* .social-media{
    display: block;
    width: 500px;
    text-align: center;
} */
/* .twitter-icon{
    overflow: hidden;
    background: blue;
    width: 500px;
    padding: 10px;
} */


/* @media only screen and (max-width: 600px){
    .twitter-icon .p{
        padding-right: 0;
        margin-right: 0;
        
    }
    .twitter-icon{
        width: 300px;
    }
} */