.footer{
    position: absolute;
    /* right: 50%; */
    bottom: 20px;
    left: 20px;
    right: 20px;
    /* background-color: red; */
    /* color: white; */
}

.footer p{
    text-align: center;
}

.social{
    padding: 10px 10px;
    margin-left: 10px;
}

.social-media{
    position: absolute;
    /* right: 50%; */
    bottom: 0;
    left: 10px;
    right: 10px;
    /* background-color: red; */
    /* color: white; */
    text-align: center;
}

@media only screen and (max-width: 600px){
    hr{
        display: none;
    }
}