/* Style heading */




.main {
    text-align: justify;
    padding-bottom: 30px;
}
.main .list{
   
    
}

/* Media QUERY */
@media only screen and (width: 600px){
    .sidenav{
        display: none;
    }
    
}